<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80984301082-kktf83sqivel1ikikgnvunsb3u3c5p83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80984301082-kktf83sqivel1ikikgnvunsb3u3c5p83</string>
	<key>API_KEY</key>
	<string>AIzaSyCChNgeqalc9boAoWT9Kd47hGNZjxQFz3M</string>
	<key>GCM_SENDER_ID</key>
	<string>80984301082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.topflightapps.seiu</string>
	<key>PROJECT_ID</key>
	<string>seiu-breakroom</string>
	<key>STORAGE_BUCKET</key>
	<string>seiu-breakroom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80984301082:ios:a95735f813d777d2763ba3</string>
	<key>DATABASE_URL</key>
	<string>https://seiu-breakroom.firebaseio.com</string>
</dict>
</plist>